.main-container {
    background-color: #1a1a1a;
}

.dash_collection {
    background-color: #2a2a2a;
    color: #ffffff;
}

.header {
    background-color: #002255;
}

.student-profile-wrapper hr {
    display: none;
}

#main_nav_ul > .ng-scope li.ng-scope a {
    background-color: #2a2a2a;
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

.student-profile-wrapper {
    all: initial;
}
